img[src*="#thumbnail"] {
    width:50px;
    height:25px;
 }

/* color for links */
a:link {
    color: #3E5C76;
}

/* color for visited links */
a:visited {
    color: #3E5C76;
}

/* mouse over link */
a:hover {
    color: #1D2D44;
}

th, td {
    padding: 15px;
    text-align: left;
  }

.Select-menu-outer {
    display : block !important;
    color: #999999;
}

    /* Select div with two classes assigned */
/*    .dropdown-cell-value-shadow.cell-value-shadow {
        color: #999999 !important;
    } *
